@model Proyecto.Models.CarritoPc

<section id="columna1">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.codigo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.codigo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.desc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.desc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.precio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.precio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cantidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cantidad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.foto)
            </dt>

            <dd>
                <img class="imgPro" src="@Url.Content(Model.foto)"/>
            </dd>

        </dl>
    </div>

</section>