@model IEnumerable<Proyecto.Utils.SP_LISTAPEDIDOS_Result>

@{
    ViewBag.Title = "listadoPedidos";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>LISTADO DE PEDIDOS</h2>
<p>
        <a class="btn btn-primary" href="@Url.Action("reportePedidosPDF")">VER REPORTE EN PDF</a>
</p>

@*<p>
    <a class="btn btn-primary" href="@Url.Action("reportePedidosEXEL")">VER REPORTE EN EXCEL</a>
</p>*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDE_PED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOM_CLI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLEADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEC_PED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FEN_PED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAI_PED)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDE_PED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOM_CLI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLEADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FEC_PED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FEN_PED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAI_PED)
        </td>
    </tr>
}

</table>
