
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<center><h2>CARRITO DE COMPRAS</h2></center>
<section id="columna">
    <table>
        <tr>
            <td>
                <img id="logo" src="~/Imagenes/imgCarritoCompras.jpg" />
            </td>
            <td>@Html.ActionLink("GENERAR VENTA DE PC", "carritoComprasPC", "Tienda")</td>
        </tr>
    </table>
</section>

<section id="columna">
    <table>
        <tr>
            <td>
                <img id="logo" src="~/Imagenes/imgCarritoProcesador.jpg" />
            </td>
            <td>@Html.ActionLink("GENERAR VENTA DE PROCESADOR", "carritoComprasPRO", "Tienda")</td>
        </tr>
    </table>
</section>

<section id="columna">
    <table>
        <tr>
            <td>
                <img id="logo" src="~/Imagenes/imgCarritoGpu.jpg" />
            </td>
            <td>@Html.ActionLink("GENERAR VENTA DE GPU", "carritoComprasGPU", "Tienda")</td>
        </tr>
    </table>
</section>

<section id="columna">
    <table>
        <tr>
            <td>
                <img id="logo" src="~/Imagenes/imgCarritoMTB.jpg" />
            </td>
            <td>@Html.ActionLink("GENERAR VENTA DE MOTHERBOARD", "carritoComprasMTB", "Tienda")</td>
        </tr>
    </table>
</section>

<section id="columna">
    <table>
        <tr>
            <td>
                <img id="logo" src="~/Imagenes/imgCarritoRam.jpg" />
            </td>
            <td>@Html.ActionLink("GENERAR VENTA DE RAM", "carritoComprasRAM", "Tienda")</td>
        </tr>
    </table>
</section>

<section id="columna">
    <table>
        <tr>
            <td>
                <img id="logo" src="~/Imagenes/imgCarritoMoni.jpg" />
            </td>
            <td>@Html.ActionLink("GENERAR VENTA DE MONITORES", "carritoComprasMonitor", "Tienda")</td>
        </tr>
    </table>
</section>