@model IEnumerable<Proyecto.Models.ItemProce>

@{
    ViewBag.Title = "pagoProce";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Realizar Transaccion de Procesador</h2>
@Html.ActionLink("RETORNAR", "carritoComprasPRO", "", new { @class = "btn btn-primary" })
<section class="panel-primary">
    <section class="panel-heading"> REALIZAR LA TRANSACCION </section>
    <section class="panel-body">
        @using (Html.BeginForm("FinalizarVentaPROCE", "Tienda"))
        {

            @Html.Label("INGRESE DNI")
            @Html.TextBox("dni", "", new { @class = "form-control" })
            @Html.Label("NOMBRES Y APELLIDOS")
            @Html.TextBox("nom", "", new { @class = "form-control" })
            <br />
            <input type="submit" value="ACEPTAR" class="btn btn-success" />
        }
    </section>
</section>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subTotal)
            </td>
            <td>
                <img class="imgArt" src="@Url.Content(item.foto)" />
            </td>
        </tr>
    }

</table>