@model Proyecto.Models.GpuA

@{
    ViewBag.Title = "detalleGPU";
    Layout = "~/Views/Shared/_LayoutFinalizarVenta.cshtml";
}

<h2>DETALLE TARJETA GRAFICA</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_prov)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_prov)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_categ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_categ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mem_gpu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mem_gpu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_uni_med)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_uni_med)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.upe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.upe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            <img class="imgPro" src="@Url.Content(Model.foto)" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Atras", "listadoGPU")
</p>
