@model Proyecto.Models.Pc

@{
    ViewBag.Title = "eliminarPc";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>eliminarPc</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_pc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_pc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cat_pc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_pc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_pro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_pro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_gpu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_gpu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_mb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_mb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_ram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_ram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_alm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_alm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_psu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_psu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_gab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_gab)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_mon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_mon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_per)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_per)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver al Listado", "listadoPc")
        </div>
    }
</div>
